html, body {
    width: 100%;
    height: auto;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.main {
    margin: 10% auto;
}

.calculator {
    background-color: #0c0c0c;
    width: auto!important;
    border-radius: 50px;
}


.result-section {
    padding: 3%;
}

.result {
    font-size: 4.5em;
    margin: 0px;
    padding-right: 15px;
}

.buttons-section {
    width: 100%;
    height: auto;
}

.btn-div {
    width: auto!important;
    padding: 0px!important;
}

button.button {
    margin: auto 5px!important;
    width: 76px!important;
    height: 76px!important;
    background-color: #a5a5a5;
    color: #000000;
}

button.button:hover {
    background-color: #bebebe;
}

button.button-ops {
    margin: auto 5px!important;
    width: 76px!important;
    height: 76px!important;
    background-color: #ff9e0a;
    color: #ffffff;
}

button.button-ops:hover {
    background-color: #ffd18c;
}

button.button-ops:focus {
    background-color: #ffffff;
    color: #ff9e0a;
}


button.useful-button, button.useful-button:focus {
    background-color: #a5a5a5!important;
    font-weight: bold;
    font-size: 2em;
    line-height: 17px!important;

}


button.button-times, button.button-divide {
    line-height: 17px!important;
    font-size: 2em;
    font-weight: bold;
}

button.button-plus, button.button-minus, button.button-equal{
    line-height: 5px!important;
    font-size: 2em;
    font-weight: bold;
}

button p {
    margin: 0px;
    height: 100%;
    line-height: 76px;
    /* font-size: 2em;
    font-weight: bold; */
}

.zero {
    width: 50%!important;
}

button.button-zero {
    width: 92%!important;
    border-radius: 40px!important;
    margin: 0px 5px 0px 5px!important;
}

button.numbers, button.numbers:focus {
    background-color: #333333;
    color: #ffffff;
    font-size: 2em;
    line-height: 17px!important;
}

button.numbers:hover {
    background-color: #535353;
    
}

button.numbers:focus {
    background-color: #333333!important;
    color: none;
}

