html, body {
    width: 100%;
    height: auto;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.main {
    margin: 10% auto;
}

.calculator {
    background-color: #0c0c0c;
    width: auto!important;
    border-radius: 50px;
}


.result-section {
    padding: 3%;
}

.result {
    font-size: 4.5em;
    margin: 0px;
    padding-right: 15px;
}

.buttons-section {
    width: 100%;
    height: auto;
}

.btn-div {
    width: auto!important;
    padding: 0px!important;
}

a.button {
    margin: auto 5px!important;
    width: 76px!important;
    height: 76px!important;
    background-color: #a5a5a5;
    color: #000000;
}

button.button {
    margin: auto 5px!important;
    width: 76px!important;
    height: 76px!important;
    background-color: #a5a5a5;
    color: #000000;
}

button.button-operations {
    margin: auto 5px!important;
    width: 76px!important;
    height: 76px!important;
    background-color: #a5a5a5;
    color: #000000;
}

a.button:hover {
    background-color: #bebebe;
}

button.button:hover {
    background-color: #bebebe;
}

a.button-operations {
    background-color: #ff9e0a;
}

a.button-operations:hover {
    background-color: #ffd18c;
}



a p {
    line-height: 17px!important;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

button p {
    line-height: 17px!important;
    font-size: 2em;
    font-weight: bold;
}

.zero {
    width: 50%!important;
}

a.button-zero {
    width: 92%!important;
    border-radius: 40px!important;
    margin: 0px 5px 0px 5px!important;
}

a.numbers {
    background-color: #333333;
    color: #ffffff;

}

button.numbers {
    background-color: #333333;
    color: #ffffff;

}

a.numbers:hover {
    background-color: #535353;
    
}
button.numbers:hover {
    background-color: #535353;
    
}

button:focus {
    background-color: #333333!important;
    color: none;
}